@model QuizMvc.Models.AnswerData
@using System.Collections

@{
    ViewData["Title"] = ViewBag.CreateMode ? "Create" : "Edit";
    Layout = "_Layout";
}

<form asp-action="@(ViewBag.CreateMode ? "Create" : "Edit")" method="post">
    <div class="form-group">
        <label for="sel1">Question</label>
        <select class="form-control" asp-for="QuestionID" asp-items="@(new SelectList((IEnumerable)ViewData["Questions"], "ID", "CorrectAnswer"))"></select>
               
        <br/>
        
        <label for="sel1">Answer Type</label>
        <select class="form-control" asp-for="AnswerTypeID" asp-items="@(new SelectList((IEnumerable)ViewData["AnswerTypes"], "ID", "AnswerTypeName"))"></select>
               
        <br/>

        <label for="sel1">Answer Text</label>
        <input asp-for="AnswerText" class="form-control"/>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>