@model QuizMvc.Models.UserData

@{
    ViewBag.Title = "Log In";
    Layout = "_Layout";
}
<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Register" asp-controller="User" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <div>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <input asp-for="FirstName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <div>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <input asp-for="LastName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Username"></label>
        <div>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <input asp-for="Username" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <input asp-for="Password" class="form-control"/>
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>